.show-more-section input#show-more {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

.show-more-section  input#show-more:checked + .hide {
  max-height: 99em;
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition: opacity 1.25s linear, max-height 1.25s linear;
}

.show-more-section .hide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s linear, max-height 1s linear;
}

.login-modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.login-modal form {
  background: #fff;
  padding: 1em 2em 2em 2em;
  max-width: 480px;
  margin: 2em auto;
  border: 2px solid #333;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
.login-modal p {
  display: flex;
}
.login-modal label,
.login-modal input {
  flex: 1;
}
.login-modal label {
  max-width: 100px;
}
.login-modal input[type='submit'] {
  width: 100%;
}
.login-modal .login-close {
  float: right;
  font-family: 'sans-serif';
}
